<div *ngIf="editorNote" fxLayoutGap="10px">
  <button
    mat-mini-fab
    color="primary"
    *ngIf="!editorNote.isDeleted"
    matTooltip="Clear"
    (click)="clearEditor()"
  >
    <mat-icon>rate_review</mat-icon>
  </button>
  <button
    mat-mini-fab
    color="primary"
    matTooltip="Recover"
    *ngIf="editorNote.isDeleted"
    (click)="recycle(editorNote)"
  >
    <mat-icon>restore</mat-icon>
  </button>

  <button
    mat-mini-fab
    color="primary"
    *ngIf="!editorNote.isNew"
    matTooltip="Delete"
    (click)="moveToTrash(editorNote)"
  >
    <mat-icon>delete_forever</mat-icon>
  </button>
  <button
    mat-mini-fab
    color="primary"
    *ngIf="!editorNote.isNew && !editorNote.isDeleted"
    matTooltip="Clone"
    (click)="cloneNote(editorNote)"
  >
    <mat-icon>content_copy</mat-icon>
  </button>
  <button
    mat-mini-fab
    color="primary"
    matTooltip="Archive"
    (click)="moveToArchiveNote(editorNote)"
    *ngIf="
      editorNote.noteType === 'notes' &&
      !editorNote.isNew &&
      !editorNote.isDeleted
    "
  >
    <mat-icon> archive </mat-icon>
  </button>
  <button
    mat-mini-fab
    color="primary"
    (click)="moveToNotes(editorNote)"
    matTooltip="Unarchive"
    *ngIf="
      editorNote.noteType === 'archive' &&
      !editorNote.isNew &&
      !editorNote.isDeleted
    "
  >
    <mat-icon> unarchive </mat-icon>
  </button>

  <button
    mat-mini-fab
    color="primary"
    matTooltip="Save Changes"
    (click)="updateNote(editorNote)"
    *ngIf="!editorNote.isDeleted"
  >
    <mat-icon>save</mat-icon>
  </button>
  <button
    mat-mini-fab
    color="primary"
    matTooltip="Download"
    (click)="onDownload(editorNote)"
  >
    <mat-icon>get_app</mat-icon>
  </button>
</div>
