<div class="options" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign=" center">
  <button mat-mini-fab color="primary" (click)="changeLook()">
    <mat-icon>view_quilt</mat-icon>
  </button>
  <button
    mat-mini-fab
    color="primary"
    *ngIf="noteType !== 'trash'"
    (click)="onCreate()"
  >
    <mat-icon>note_add</mat-icon>
  </button>
</div>

<div class="app" *ngIf="noteLook !== 2">
  <app-note-template
    *ngFor="let note of notes | async; index as i"
    [view]="noteLook"
    [note]="note"
    [label]="label"
    id="{{ note.id }}"
  >
  </app-note-template>
</div>

<div *ngIf="noteLook === 2" fxLayout="row" fxLayoutAlign="start start">
  <div cdkDropList class="list" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let note of notes | async" (click)="setEditor(note)" cdkDrag>
      <div class="placeholder" *cdkDragPlaceholder></div>
      <app-title-template [note]="note"></app-title-template>
    </div>
  </div>
  <mat-card *ngIf="editorNote" class="editor mat-elevation-z8">
    <textarea
      rows="1"
      cols="1"
      maxlength="25"
      [(ngModel)]="editorNote.title"
      class="text-area title"
      placeholder="Enter Title.."
      (blur)="updateNote(editorNote)"
    >
    </textarea>
    <mat-divider></mat-divider>
    <textarea
      [(ngModel)]="editorNote.content"
      class="text-area content"
      placeholder="Type Content.."
      (blur)="updateNote(editorNote)"
    >
    </textarea>
  </mat-card>
  <div fxLayout="column" fxLayoutAlign="start start">
    <app-note-action
      *ngIf="editorNote && !editorNote.isDeleted"
      [editorNote]="editorNote"
      [noteType]="noteType"
      [label]="label"
    ></app-note-action>
  </div>
</div>
