.app {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
  padding: 20px;
}

.options {
  width: 100%;
}

.list {
  width: 350px;
  height: 700px;
  display: block;
  border-radius: 4px;
  overflow-y: hidden;
}
.list:hover {
  overflow: auto;
}

.placeholder {
  display: flex;
  border-radius: 10px;
  height: 80px;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.text-area {
  width: 95%;
  margin: 5px;
  display: block;
  padding: 10px;
  background-color: transparent;
  resize: none;
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  outline: none;
  overflow: hidden;
}

.title {
  height: 30px;
  font-size: 1.5em;
}

.content {
  height: 550px;
  font-size: 1em;
}

.editor {
  margin: 10px;
  border-radius: 20px;
  height: 650px;
  width: 80%;
}
