.color-0 {
  background: #ffab91;
}
.color-1 {
  background: #ffcc80;
}
.color-2 {
  background: #fff59d;
}
.color-3 {
  background: #f48fb1;
}
.color-4 {
  background: #9fa8da;
}
.color-5 {
  background: #c5e1a5;
}
.color-6 {
  background: #eeeeee;
}
.color-7 {
  background: #81d4fa;
}
.color-8 {
  background: #bcaaa4;
}
.color-9 {
  background: #80cbc4;
}
.color-10 {
  background: #e6ee9c;
}

.color-0,
.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.color-6,
.color-7,
.color-8,
.color-9,
.color-10 {
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // border-radius: 3% 2% 14% 8%/2% 4% 15% 14%;
  border-radius: 15px 5px 250px 30px;
  margin: 10px;
  box-shadow: 5px 8px 0px -2px #777;
}

// border-radius: 3% 2% 14% 8%/2% 4% 15% 14%;

// border-radius: 15px 5px 250px 30px;
// margin: 10px;
// box-shadow: 5px 8px 0px -2px #777;
