<mat-toolbar color="primary">
  <button mat-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Just Note</span>
  <span class="spacer"></span>
  <button mat-icon-button class="icon favorite-icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer mat-elevation-z1" mode="side" opened="true">
    <mat-card fxFlex="20" class="action-card">
      <button
        mat-button
        class="actions"
        *ngFor="let action of actions"
        routerLink="{{ action.route }}"
        routerLinkActive="action-active"
      >
        <mat-icon>{{ action.icon }}</mat-icon>
        <span class="title">{{ action.name }}</span>
      </button>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>topic</mat-icon>
            <span class="title"> Tagged Notes </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button class="actions" (click)="createLabel()">
          <mat-icon>create</mat-icon>
          <span class="title"> Create Label </span>
        </button>
        <button
          mat-button
          class="actions"
          *ngFor="let label of customLabels | async"
          routerLink="{{ getRoute(label) }}"
          routerLinkActive="action-active"
        >
          <mat-icon>label</mat-icon>
          <span class="title">{{ label }}</span>
          <mat-icon
            style="float: right"
            matTooltip="Delete"
            (click)="deleteLabel(label)"
            >delete_forever</mat-icon
          >
        </button>
      </mat-expansion-panel>
    </mat-card>
  </mat-drawer>
  <div style="margin-top: 10px; margin-left: 40px">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
