.spacer {
  flex: 1 1 auto;
}

.title {
  margin: 0 0 0 10px;
}

.mat-expansion-panel-header {
  padding: 10px;
}

.drawer-container {
  width: 100%;
  height: 90%;

  .drawer {
    border-radius: 20px;
    margin: 20px;
    width: 320px;
    overflow: hidden;
  }

  .action-card {
    min-width: 318px;
    height: 100%;
    overflow: hidden;
  }

  .actions {
    width: 100%;
    padding: 10px;
    display: block;
    text-align: left;
  }

  .action-active {
    border-left: 10px solid #3f51b5;
    background-color: #e8eaf6;
  }
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparent !important;
}
