<div style="width: 200px">
  <mat-form-field hintLabel="Max 10 characters" appearance="fill">
    <mat-label>Enter Label*</mat-label>
    <input
      matInput
      [formControl]="labelFormControl"
      [errorStateMatcher]="matcher"
      maxlength="10"
      #input
      autocomplete="off"
    />
    <mat-hint align="end">{{ input.value?.length || 0 }}/10</mat-hint>
  </mat-form-field>
  <mat-error color="primary" *ngIf="labelFormControl.hasError('required')">
    *Required
  </mat-error>
  <mat-error
    color="primary"
    *ngIf="labelFormControl.hasError('forbiddenLabel')"
  >
    *Duplicate Label
  </mat-error>
  <mat-icon (click)="onClose()" matTooltip="Close">cancel</mat-icon>

  <mat-icon
    class="close-button"
    *ngIf="!labelFormControl.hasError('forbiddenLabel')"
    (click)="onSave()"
    matTooltip="Save"
    >done</mat-icon
  >
</div>
